<%# <% if Setting.first.loading == true %> 
  <%# <div class="loader"></div> %>
<%# <% end %> 



<div class="tooltip" style="text-align: center">
    <h1 class="page-title">Reddit Post Keyword Monitor </h1>
</div>
<%= render partial: "posts/subreddit", locals: { subreddit_name: @subreddit_name } %>
<h3 style="text-align: center">Selected Keywords: <%= Setting.first.keywords.gsub(",", ", ") %> </h3>
<% if Setting.first.refresh == false %>
<div style="display: flex; justify-content: center">
  <%= link_to "Check posts", "/check_posts", style: "text-decoration: none", class: "post-button"  %>
</div>
<% end %>
<div style="display: flex; justify-content: center; margin-bottom: 15px">
  <%= link_to @auto_title, "/auto_check", style: "text-decoration: none; margin-top: 10px", class: "post-button"  %>
</div>
<% if Setting.first.refresh == false %>
  <div style="display: flex; justify-content: space-evenly">
    <%= form_tag "/edit_subreddit_cookies", method: :get do %>
      <div style="display: flex; flex-direction: column; align-items: center;  padding-bottom: 10px">
        <%= text_field_tag :subreddit_name, Setting.first.subreddit_name, style: "border: 2px solid blue; border-radius: 4px; height: 20px", autocomplete: 'off' %>
        <%= submit_tag "Update Subreddit", class: "post-button", style: "margin-top: 8px" %>
      </div>
    <% end %>
    <%= form_tag "/edit_keywords_cookies", method: :get do %>
      <div style="display: flex; flex-direction: column; align-items: center;  padding-bottom: 10px">
        <%= text_field_tag :keywords, Setting.first.keywords, style: "border: 2px solid blue; border-radius: 4px; height: 20px", autocomplete: 'off' %>
        <%= submit_tag "Update Keywords", class: "post-button", style: "margin-top: 8px" %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="parent">
  <div class="messages" style="display: flex; flex-direction: column; align-items: center; overflow-wrap: break-word">
    <h3 style="margin-bottom: 0">Activity Log (last 10) <%= link_to "Delete All", "/delete_all_messages", class:"post-button" %>
</h3>
      <ol class="rounded-list">
          <%= render partial: "posts/messages", locals: { display_messages: @display_messages } %>
      </ol>
  </div>
  <div class="posts" style="display: flex; flex-direction: column; align-items: center; overflow-wrap: anywhere">
    <h3 style="margin-bottom: 0">Matching Posts (last 10) <%= link_to "Delete All", "/delete_all_posts", class:"post-button" %></h3>
    <ol class="rectangle-list">
      <%= render partial: "posts/posts", locals: { posts: @posts } %>
    </ul>
  </div>
</div>
</div>
