<%# <% if Setting.first.loading == true %> 
  <%# <div class="loader"></div> %>
<%# <% end %> 

<div class="tooltip" style="text-align: center">
    <h1 class="page-title">Reddit Post Keyword Monitor </h1>
    <div class="bottom">
        <h2>Welcome!</h2>
        <p>This program will search through the newest 24 posts in a specific subreddit. Down below you can specify the subreddit to check as well as what keywords to look for. You can check posts manually or automatically which will be done every minute. The status of each check will be listed in the Activity Log.</p>
        <i></i>
    </div>
</div>
<h3 style="text-align: center">Subreddit Currently Monitoring: <%= Setting.first.subreddit_name %> </h3>
<h3 style="text-align: center">Selected Keywords: <%= Setting.first.keywords.gsub(",", ", ") %> </h3>
<% if Setting.first.refresh == false %>
<div style="display: flex; justify-content: center">
  <%= link_to "Check posts", "/check_posts", method: "show", style: "text-decoration: none", class: "post-button"  %>
</div>
<% end %>
<div style="display: flex; justify-content: center; margin-bottom: 15px">
  <%= link_to @auto_title, "/auto_check", method: "show", style: "text-decoration: none; margin-top: 10px", class: "post-button"  %>
</div>
<div style="display: flex; justify-content: space-evenly">
  <%= form_tag "/edit_subreddit_cookies", method: :get do %>
    <div style="display: flex; flex-direction: column; align-items: center;  padding-bottom: 10px">
      <%= text_field_tag :subreddit_name, Setting.first.subreddit_name, style: "border: 2px solid blue; border-radius: 4px; height: 20px", autocomplete: 'off' %>
      <%= submit_tag "Update Subreddit", class: "post-button", style: "margin-top: 8px" %>
    </div>
  <% end %>
  <%= form_tag "/edit_keywords_cookies", method: :get do %>
    <div style="display: flex; flex-direction: column; align-items: center;  padding-bottom: 10px">
      <%= text_field_tag :keywords, Setting.first.keywords, style: "border: 2px solid blue; border-radius: 4px; height: 20px", autocomplete: 'off' %>
      <%= submit_tag "Update Keywords", class: "post-button", style: "margin-top: 8px" %>
    </div>
  <% end %>
</div>
<div class="parent">
  <div class="messages" style="display: flex; flex-direction: column; align-items: center; overflow-wrap: break-word">
    <h3 style="margin-bottom: 0">Activity Log (last 10) <%= link_to "Delete All", "/delete_all_logs", class:"post-button" %>
</h3>
      <ol class="rounded-list">
        <% @display_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% @empty_log.times do %>
          <li>Only <%= pluralize @display_messages.count, "activity log"  %> in database</li>
        <% end %>
      </ol>
  </div>
  <div class="posts" style="display: flex; flex-direction: column; align-items: center; overflow-wrap: anywhere">
    <h3 style="margin-bottom: 0">Matching Posts (last 10) <%= link_to "Delete All", "/delete_all_posts", class:"post-button" %></h3>
    <ol class="rectangle-list">
      <% @posts.each do |post| %>
        <li>
          <%= highlight("<a target='_blank' class='posts' href='https://reddit.com#{post.url}'>#{post.url}</a>", post.keywords.split(","), highlighter: '<span style="color: red"><strong>\1</strong></span>', sanitize: false)  %>
        </li>
      <% end %>
      <% @empty_posts.times do %>
        <li>Only <%= pluralize @posts.count, "post"  %> in database</li>
      <% end %>
    </ul>
  </div>
</div>
</div>
