<%# <div class="absolute top-1 left-2 text-white"><%= @date %></div> %>
<div style="text-align: center">
  <h1 class="mb-4 text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl text-white">Reddit Post Keyword Monitor </h1>
</div>
<%= render partial: "posts/subreddit", locals: { subreddit_name: @subreddit_name } %>
<h3 class="mb-4 text-lg font-normal text-white lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400" style="text-align: center">Selected Keywords: <span class="text-blue-600"><%= Setting.first.keywords.gsub(",", ", ") %></span> </h3>
<% if Setting.first.refresh == false %>
  <div style="display: flex; justify-content: center">
    <%= link_to "Check posts", "/check_posts", style: "text-decoration: none", class: "text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"  %>
  </div>
<% end %>
<div style="display: flex; justify-content: center" class="mb-4">
  <%= link_to @auto_title, "/auto_check", style: "text-decoration: none;", class: "auto-check text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800", remote: true  %>
</div>
