<!DOCTYPE html>
<html>
  <head>
    <title>Reddit Post Keyword Monitor</title>
    <% if Setting.first.refresh == true %>
      <meta http-equiv="refresh" content=<%= Setting.first.refresh_time %> />
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <%= javascript_include_tag :jquery, :jquery_ujs %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body class="bg-slate-900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <%= render "layouts/header" %>
    <%= yield %>
  </body>
</html>
